*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

body{
    height: 100vh;
}
/* sidebar */
.sidebar1{
    height: calc(100vh - 60px);
    background-color:black;
    overflow: hidden;
}

.sidebar1 > .container{
    height: 100%;
}

.wrapper{
    height: calc(100vh - 60px);
}

.logo{
    height: 45px;
    width: 70%; 
   margin-top: 15px;
   margin-bottom: 20px;
}
/* menu iniziale a tre */
.img_menu{
    height: 20px;
    width: 25px;
    color: #6B6E73;
}

.up_menu_nav{
    

}

.up_menu_nav li{
    list-style: none;
}
.up_menu_nav li{
    margin: 8px 0;
}
.up_menu_nav a ,.bottom_menu_nav a{
    text-decoration: none;
    color: #6B6E73;
}

.bottom_menu_nav{
    

}

.profile img{
    background-color: grey;
    border-radius:30px;
    padding:3px 1px;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.install i{
    width: 1px;
    height: 1px;
    margin-right: 20px;
}

/* playlist */
.aggiungi{
    width: 40px;
    height: 40px;
    background-color: #6B6E73;
    color: black;
    font-size: 35px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 6px;
    
}

.install{
    border-bottom: 1px solid #6B6E73;
    margin-bottom: 15px;
    padding-bottom: 5px;
}



/* header */
.page{
    height: calc(100vh - 30px);
}
header{
    display: flex;
    justify-content: right;
    background-color:#080B12;
    padding:10px 5px;
}
.upgrade{
    
}

.upgrade a{
    border:1px solid white;
    border-radius: 25px;
    padding:10px 50px;
    text-transform: uppercase;
    
}



main{

    background-color:#141922; 
}

footer{
    height: 60px;
    width: 100%;
    background-color:#282828;
    
}

/* hover sidebar */
.sidebar1 a:hover{
    color: white;
}
/* hover upgrade button */

.upgrade:hover{
    transform: scale(1.1 , 1.1);
    margin-right: 10px;
}