*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

body{
    height: 100vh;
}
/* sidebar */
.sidebar1{
    height: calc(100vh - 90px);
    width: 200px;
    background-color:black;
    overflow-y: auto;
    padding:10px 25px 5px 35px;
}

.sidebar1 > .container{
    height: 100%;
}

.wrapper{
    height: calc(100vh - 90px);
}

.logo{
    height: 45px;
    width: 70%; 
   margin-top: 15px;
   margin-bottom: 20px;
}
/* menu iniziale a tre */
.img_menu{
    height: 20px;
    width: 25px;
    color: #6B6E73;
}

.bottom_menu_nav{
   
}

.sidebar1 li{
    list-style: none;
}
.sidebar1 li{
    margin: 8px 0;
}
.sidebar1 a ,.bottom_menu_nav a{
    text-decoration: none;
    color: #6B6E73;
}


    



.profile img{
    background-color: grey;
    border-radius:30px;
    padding:3px 1px;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.install{
    border-bottom: 1px solid #6B6E73;
    margin-bottom: 15px;
    padding-bottom: 5px;
}


.install i{
    width: 1px;
    height: 1px;
    margin-right: 20px;
}

/* playlist */
.playlist_nav{
    height: 200px;
    overflow-y: auto;
    min-height: 100px;
    flex-grow: 2;
}               


.aggiungi{
    width: 40px;
    height: 40px;
    background-color: #6B6E73;
    color: black;
    font-size: 35px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 6px;
    
}

/* sezione con header e main */
.page{
    height:calc(100vh - 90px);
    width: calc(100vw - 204px);
    overflow-y:scroll ;
}

/* header */
.my_container{
    width: 100%;
    padding: 15px 15px;
}

/* HEADER */
.header_block{
    display: flex;
    justify-content: right;
    align-items: center;
    background-color:#080B12;
    padding:10px 5px;
    height: 80px;
}

.upgrade{
    margin-right:5px
}
.header_block a{
    border:1px solid white;
    border-radius: 25px;
    padding:10px 50px 10px 50px;
    text-transform: uppercase;
}


/* MAIN */
main{
    background-color:#141922; 
}
/* lista superiore */
.section_list{
    margin:20px auto;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 25px;
}
.section_list li, .section_list a{
    color: #6B6E73;
    list-style: none;
    display: inline-block;
    text-decoration: none;
    margin:0 10px;
}

 /* sezione album */
 .album_block{
   
    
 }

 .album{
    margin-right: 20px;
}

.album img{
    height: 200px;
    width: 200px;
}
.album h5{
    width: 200px;
    text-align: center;
    margin:auto;
}
.album h6{
    text-align: center;
    color:#6B6E73 ;
}
.popular img{
    border-radius: 100px;
}


.album_block .row{
    margin:50px auto;
}
.album_block:first-child{
    margin-top:10px;
}
.album_block h4{
    color:#6B6E73;
}

/* footer */
footer{
    height:90px;
    width: 100%;
    background-color:#282828;   
}

/* hover sidebar */
.sidebar1 a:hover{
    color: white;
}

/* hover upgrade button */
.header_block a:hover{
    transform: scale(1.1 , 1.1);
    margin-right: 10px;
}