*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

.sidebar1{
    height: calc(100vh - 30px);
    background-color: black;
}


.page{
    height: calc(100vh - 30px);
}

header{
    
    background-color:#080B12;
}

main{

    background-color:#141922; 
}

footer{
    height: 60px;
    width: 100%;
    background-color:#282828;
}